#player1Name,
#player2Name {
	color:red;
	font-size: 80px;
}
body{
	font-family: 'Hind Siliguri', Open Sans;
}
.player-console {
  display: none;
}
.what{
  height: 450px;
}
input[type=text], select {
    padding: 10px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #aqua;
    box-sizing: border-box;
	background-color: red;
}
.btn{
    background-color:  #;
    color: red;
    font-size: 18px;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	margin-left: 30px;
}
body {
  background-image: url('/home/patricia/Documents/Pig-Dice/images/dices-16.png');
}
.border {
  background-color: transparent;
}
.form id {
  color: white;
}
body {
  background-size:cover;
  background-repeat: no-repeat;
}
